.popup {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.6);
	padding: 20px;

	&__overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;		
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		border-color: transparent;
		background: transparent;

		&:before {
			content: "X";
			cursor: pointer;
		}
	}

	&__box {
		position: relative;
		width: 100%;
		max-width: 600px;
		padding: 38px 20px 20px 20px;
		max-height: calc(100vh - 40px);
		overflow: auto;
		background: #fff;
	}

	&__title {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 500;
		margin: 0 0 10px;
	}

	&__picture {
		margin: 0 0 10px;
	}

	&__description {
		font-size: 18px;
	}
}